@import '_colors.sass'

*
    margin: 0
    padding: 0

*, *::before, *::after
    box-sizing: border-box

::selection
    color: #fff
    background: #055547

body
    font-family: "HNT","Inter","Roboto","Arial",sans-serif
    font-size: 14px
    line-height: 1.6

h1, h2, h3, h4, h5, h6
    margin-top: 1.6rem
    margin-bottom: .8rem
    font-family: "HNT","Inter","Roboto","Arial",sans-serif
    font-weight: 700
    line-height: 1.2

h1
    font-size: 2.5rem

h2
    font-size: 2rem

h3
    font-size: 1.75rem

h4
    font-size: 1.5rem

h5
    font-size: 1.25rem

h6
    font-size: 1rem

a
    text-decoration: none
    color: #055547
    &:hover
    text-decoration: underline

p
    margin-bottom: 1.6rem
    line-height: 1.6

ul, ol
    margin-bottom: 1.6rem
    line-height: 1.6

ul
    list-style: disc
    padding-left: 1.6rem

ol
    list-style: decimal
    padding-left: 1.6rem

li
    margin-bottom: .4rem


img
    width: 100%
    height: 100%
    object-fit: cover
