

// .markdown p, .markdown ul, .markdown ol, .markdown blockquote 

.markdown h2 
  margin-bottom: 10px
  font-size: 20px

// .markdown h3 


.markdown p 
  margin-bottom: 10px
  color: #2A2A2A
  font-size: 15px
  line-height: 28px
  font-weight: 400
  a 
    color: #2A2A2A
  strong 
    font-weight: 600

.markdown p:last-of-type 
  margin-bottom: 60px
  
